# 6.	count each kind of department (มีหน่วยงานแบบไหนบ้าง จำนวนเท่าไร)

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Energy_and_Water_Use_-_Municipal_Buildings.csv')

In [3]:
data['department'].groupby(data['department']).describe()

            count unique          top freq
department
Animal         14      1       Animal   14
CDD:            2      1         CDD:    2
Cultural        6      1     Cultural    6
DOT:           13      1         DOT:   13
Fire          135      1         Fire  135
GSD            14      1          GSD   14
ITA:            2      1         ITA:    2
Libraries:    143      1   Libraries:  143
Municipal      45      1    Municipal   45
Municipal:      2      1   Municipal:    2
Personnel       4      1    Personnel    4
Police         60      1       Police   60
Public          2      1       Public    2
Residence:      2      1   Residence:    2
Sanitation:    13      1  Sanitation:   13
Street         11      1       Street   11