# 8.	max water_use_all_water_sources_kgal in 2015 (หน่วยงานที่ใช้น้ำในปี2015มากที่สุด)

In [2]:
import pandas as pd

In [10]:
data = pd.read_csv('Energy_and_Water_Use_-_Municipal_Buildings.csv')

In [29]:
data.groupby(['year_ending'])['water_use_all_water_sources_kgal'].max()

year_ending
31-Dec-14    20040.1
31-Dec-15    12601.7
Name: water_use_all_water_sources_kgal, dtype: float64

In [17]:
data['water_use_all_water_sources_kgal'].max()

20040.1

In [59]:
data = data[data['year_ending'] == '31-Dec-15']
data.iloc[:,[0,7,8,12]][(data['total_ghg_emissions_metric_tons_co2e'] ==data.total_ghg_emissions_metric_tons_co2e.max())]

,cartodb_id,department,property_name,total_ghg_emissions_metric_tons_co2e
244,245,Police,Police Department: 9/63 Police Administratio...,3338.3